body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; font-family: 'MicrosoftJhengHei'}
body, button, input, select, textarea { font-size:12px; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
a:active { color: inherit;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }


@font-face {
  font-family: 'iconfont';  /* project id 129360 */
  src: url('//at.alicdn.com/t/font_129360_4mesgl4imvbtvs4i.eot');
  src: url('//at.alicdn.com/t/font_129360_4mesgl4imvbtvs4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_129360_4mesgl4imvbtvs4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_129360_4mesgl4imvbtvs4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_129360_4mesgl4imvbtvs4i.svg#iconfont') format('svg');
}

i {
  font-family: 'iconfont';
  font-style: normal;
}
